
@import '../lib/notify.styl'


html { height: 100% }
body {
  height: 100%
  margin: 0
  font-size: 14px
}
#root {
  position: relative;
  text-align: center;
  top: 38.2%;
  transform: translateY(-38.2%);
}

.code-block {
  margin-top: 20px
  text-align: left
  width: 400px
  margin: 0 auto
  pre {
    background-color: #f5f5f5
    padding: 14px
    overflow-x: auto
  }
}